body {
  background-color: beige;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
  padding: 20px;
}

img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.contact {
  text-align: center;
}
.links {
  display: flex;
  justify-content: space-evenly;
}
